@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #E88138;

  --font-cursive: "Charm", serif;

  --height-1500vh: 1500vh;
}

@layer base {
  * {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

:root {
  font-family: "Parkinsans", serif;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  interpolate-size: allow-keywords;
  --primary: #E87E36;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
}

[contenteditable] {
  outline: none;
  border: none;
}

[contenteditable]:focus {
  outline: none;
  border: none;
  box-shadow: none;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4d00;
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.is-editor-empty::before {
  content: attr(data-placeholder);
  color: #aaa;
  pointer-events: none;
  height: 0;
  font-style: italic;
  position: absolute;
}

.ProseMirror {
  white-space: pre-wrap !important;
}

blockquote {
  border-left: 4px solid #666;
  margin-left: 1em;
  padding-left: 1em;
  font-style: italic;
  color: #aaa;
}

.Toastify__toast {
  font-family: "Parkinsans", serif !important;
}

.recharts-wrapper *:focus {
  outline: none !important;
}